<% include header %>
<div id="layout">

 <!-- Menu toggle -->
 <a href="#menu" id="menuLink" class="menu-link">
	  <!-- Hamburger icon -->
	  <span></span>
 </a>

 <div id="menu">
	  <div class="pure-menu pure-menu-open">
		  <a "pure-menu-heading" href="/">FindAFlock</a>
			<ul>
				 <li><a href="/">Home</a></li>
				 <li><a href="/profile">Profile</a></li>
				 <li><a href="/logout">Logout</a></li>
				 </li>
			</ul>
	  </div>
 </div>
    <div id="main">
        <div class="header">
			  <a href="/"><img id="dash-logo" src="images/FindAFlock-Futura-Light-fb.png"></a>
            <h1>Dashboard</h1>
            <h2>Checkout the flights you can join.</h2>
        </div>

        <div class="content">
			  <% if(userIsMember) { %>
            <h2 class="content-subhead">My Flight</h2>
				<% } %>

            <h2 class="content-subhead">Friends Flights</h2>
				<table class="fFlights pure-table">
					<thead>
						<tr>
							<th>Location</th>
							<th>Time</th>
							<th>Members in Flock</th>
						</tr>
					</thead>
					<tbody>
					<% fFlights.forEach(function(flight) { %>
						<tr class="flight flight-<%= flight.id %>">
							<td class="flight-location"><a href="/flight/<%= flight.id %>"><%= flight.location %></a></td>
							<td class="flight-time"><a href="/flight/<%= flight.id %>"><%= flight.time %></a></td>
						</a>
						<td class="flight-members"><a href="/flight/<%= flight.id %>"><%= flight.members.length %></a></td>
						</a>
						</tr>
					<% }); %>
					</tbody>
				</table>

            <h2 class="content-subhead">Local Flights</h2>
				<table class="lFlights pure-table">
					<thead>
						<tr>
							<th>Location</th>
							<th>Time</th>
							<th>Members in Flock</th>
						</tr>
					</thead>
					<tbody>
					<% fFlights.forEach(function(flight) { %>
						<tr class="flight flight-<%= flight.id %>">
							<td class="flight-location"><%= flight.location %></td>
							<td class="flight-time"><%= flight.time %></td>
							<td class="flight-members"><%= flight.members.length %></td>
						</tr>
					<% }); %>
					</tbody>
				</table>

            <h2 class="content-subhead">Create a Flight</h2>
            <p>
					 <a href="/newflight">Create a new flight</a>
            </p>
        </div>
    </div>
</div>





<script src="javascripts/ui.js"></script>
<% include footer %>
