        <!-- Add your site or application content here -->
		  <h1>Auth</h1>

		  <a href="/auth/facebook">loging via facebook</a>

<% if(false) { %>
		  <h2>Friend's Flights<h2>
				  <ul>
				  <% var fflights = {}; %>
				  <% user.facebook.friendList.forEach(function (friend) { %>
					  <% var friendFlight = getUser(friend.id).current_flight; %> 
					  <% if(friendFlight != null) { //beware of null check %>
					  <li class="friend-flight">
						  <ul class="friend-flight facebook-friends">
							<% var flightUsers = getFlock(flight.flockID())[users]; %>
							<% flightUsers.forEach(function(u) { %>
								<% if(getUser(u.facebook.id).friendList.indexOf(user.facebook.id) != -1) { //if they're a friend %> 
									<li class="local=flight friend">
										<%= img_tag(u.profilePic(), "profile"); %>
										<p class="friend-name"><%= u.name(); %></p>
									</li>
						  </ul>
						  <p class="friend-flight info"><i class="<%= activtyIcon(friendFlight.activityType) %>"></i>
						  <button class="friend-flight"><%= friendFlight.name %></button>
						  </p>
							<% } %>
					  </li>
				  <% } %>

			  </ul>
				  <h2>Local Flights</h2>
				  <ul>
					  <% var flights = getLocalFlights([locLat, locLong], user.settings.radius); %>
					  <% flights = flights.splice(0, user.settings.numberToDisplay); %>
					  <% flights.forEach (function (flight) { %>
						<li class="local-flight">
							<ul class="local-flight facebook-friends">
							<% var flightUsers = getFlock(flight.flockID())[users]; %>
							<% flightUsers.forEach(function(u) { %>
								<% if(getUser(u.facebook.id).friendList.indexOf(user.facebook.id) != -1) { //if they're a friend %> 
									<li class="local=flight friend">
										<%= img_tag(u.profilePic(), "profile"); %>
										<p class="friend-name"><%= u.name(); %></p>
									</li>
								<% } %>
							<% } %>
							</ul>
							<li class="local-flight activity-icon"><i class="<%= activityIcon(flight.activityType) %>"></i></li>
							<li class="local-flight flight-location"><%= flight.location; %></li>
						</li>
						<% }); %>
				  </ul>
		  <h2>Let's Grab</h2>
		  <ul>
			  <!--each button directs to new flight page with proper activity type filled in-->
			  <li class="new-flight food"><i class="fa fa-cutlery"></i><button class="new-flight food submit">Food</button></li>
			  <li class="new-flight drinks"><i class="fa fa-glass"></i><button class="new-flight drinks submit">Drinks</button></li>
			  <li class="new-flight anything"><i class="fa fa-users"></i><button class="new-flight anything submit">Anything</button></li>
		  </ul>

<% } %>
